<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ static_path "/static/fontello-embedded.css" }}" rel="stylesheet" type="text/css"></link>
    <link href="{{ static_path "/static/index.css" }}" rel="stylesheet" type="text/css"></link>
    <script src="{{ static_path "/static/index.js" }}"></script>
  </head>
  <body>
    <div class="header">
      <input id="main-menu" class="dropdown-toggle" type="checkbox"></input>
      <label for="main-menu" class="icon-menu -clickable"></label>
      <div class="dropdown-menu main-menu-dropdown">
        <a class="dropdown-item top-link" href="/">/</a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item no-close-on-click">
          <div class="clearable-input">
            <label for="input-default-tag">Default tag:</label>
            <input id="input-default-tag" class="input-default-tag input--big" type="text" size="10"></input>
            <i class="icon-cancel-circled icon-clear-input"></i>
          </div>
        </div>
        <div class="dropdown-item save-button-div hidden">
          <button class="button action-save">Save</button>
        </div>
        <div class="dropdown-item">
          <a class="button action-backup" href="/backup">Backup</a>
        </div>
      </div>
      <button class="button action-paste">Paste</button>
      <button class="button action-mark hidden">Mark</button>
      <div class="errdiv hidden">
        <span class="error icon-attention"></span>
      </div>
    </div>
    <div class="main-content notes">
      {{ range .Notes }}
        <div class="note" data-id="{{ .ID }}" data-marks="{{ json .Marks }}">
          <div class="note-header {{ if eq (len .Tags ) 0 }}hidden{{ end }}">
            <i class="icon-tag action-new-tag -clickable"></i>
            <div class="clearable-input hidden">
              <input type="text" class="input-add-tag" size="10"></input>
              <i class="icon-cancel-circled icon-clear-input"></i>
            </div>
            <div class="note-tags">
              {{- range .Tags -}}
                <span class="tag tag--applied">{{ . }}</span>
              {{- end -}}
            </div>
          </div>
          <div class="note-content">{{ .Text }}</div>
          <div class="note-actions {{ if gt (len .Tags ) 0 }}hidden{{ end }}">
            <i class="action-show-note-header icon-tag -clickable"></i>
          </div>
        </div>
      {{ end }}
    </div>
    {{ if .Before }}
      <div class="nav">
        <a class="button action-next" href="/?before={{ .Before }}">Next</a>
      </div>
    {{ end }}
  </body>
</html>
