:root {
  background-color: beige;
  font-size: 14px;
  color: #333;
}
body {
  margin-top: 0;
}
mark {
  background-color: rgba(255,255,0,.5);
}
.header {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: beige;
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 10px;
}
.note {
  background-color: white;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 1s ease-out;
  overflow-wrap: break-word;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
}
.note-header {
  grid-column: 1 / 1;
  padding: 10px 10px 5px 10px;
  background-color: #eee;
  min-height: calc(1rem + 7px);
}
.note-content {
  grid-column: 1 / 1;
  padding: 10px;
  flex-grow: 1;
  white-space: pre-wrap;
}
.note-actions {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  border-left: 1px solid #ddd;
}
.icon-tag {
  opacity: 0.2;
}
.icon-tag:hover {
  opacity: 1;
}
.error {
  color: red;
}
.nav {
  margin-top: 20px;
}
.hidden {
  display: none !important;
}
.note:not([data-id]) {
  background-color: #dcdcf5;
}
.button {
  padding: .5rem 1rem;
  border-radius: .3rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #212529;
  border-color: #f8f9fa;
  text-decoration: none;
  border: 1px solid #ddd;
  background-color: #fff;
}
.button:hover,
.button:focus {
  background-color: #dcdcf5;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  outline: 0;
}
.button:disabled {
  opacity: 0.65;
}
.input--big {
  padding: .5rem 1rem;
}
input[type="text"],
input[type="password"] {
  border-radius: .3rem;
}
.dropdown-menu {
  display: none;
  background-color: #fff;
  clear: both;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0.25rem;
}
.dropdown-toggle:checked ~ .dropdown-menu {
  display: block;
  position: absolute;
}
.dropdown-toggle {
  display: none;
}
.dropdown-item {
  color: #333;
  text-decoration: none;
  padding: 0.25rem 1.5rem;
}
.dropdown-toggle:checked ~ .dropdown-menu .dropdown-item {
  display: block;
  padding: 10px;
}
/*
.dropdown-item:hover,
.dropdown-item:active {
  background-color: #dcdcf5;
}*/
.dropdown-divider {
  height: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
.top-link {
  background-color: #eee;
  text-align: center;
}
.tag {
  font-size: 11px;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  border: 1px dotted #ccc;
  cursor: pointer;
  margin: 0 1px;
}
.tag:hover {
  background-color: #dcdcf5;
}
.tag.tag--applied {
  background-color: #dcdcf5;
  border: 1px solid transparent;
}
.-clickable {
  cursor: pointer;
}
.note-tags {
  display: inline-block;
}
.input-add-tag {
  font-size: 11px;
}
.main-menu-dropdown {
  z-index: 2;
  overflow-x: hidden;
}
.dropdown-toggle:checked ~ .dropdown-menu.main-menu-dropdown {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 53px;
  right: 0;
  bottom: 0;
  left: 0;
}
.errdiv {
  margin-top: 8px;
}
.tag--deleted {
    animation: opacityPulse 1s linear;
    animation-iteration-count: infinite;
    opacity: 1;
}
@keyframes opacityPulse {
    0% { opacity: 0.3; }
    50% { opacity: 1.0; }
    100% { opacity: 0.3; }
}
.clearable-input {
  display: inline-block;
  position: relative;
}
.icon-clear-input {
  position: absolute;
  opacity: 0.3;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icon-clear-input:hover {
  opacity: 1;
}
